<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="templates::head_include"></div>

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a th:href="@{/security/mainController}">轻量级城镇道路养护信息管理系统</a>
                </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
                <div class="container-fluid">
                    <div align="center">
                        <h3 class="title">日常巡查管理</h3>

                        <form action="" method="get">
                            <input type="hidden" name="_method" value="DELETE"/>
                        </form>

                        <table border="0" cellspacing="0">
                            <tr>
                                <th>巡查编号</th>
                                <th>道路名称</th>
                                <th>操作</th>
                            </tr>
                            <tr class="dailyInspect" th:each="dailyInspect : ${page.list}">
                                <td th:text="${dailyInspect.daily_inspect_no}" nowrap></td>
                                <td id="road_name" th:text="${dailyInspect.road_name}" nowrap></td>
                                <td nowrap>
                                    <button class="delete" th:href="@{/dailyInspect/remove/{dailyInspectNo}(dailyInspectNo=${dailyInspect.daily_inspect_no})}">删除</button>
<!--                                    <button class="info" th:href="@{/dailyInspect/info/{dailyInspectNo}(dailyInspectNo=${dailyInspect.daily_inspect_no})}">详细信息</button>-->
                                    <button class="info" th:href="@{/dailyInspect/listAll/{dailyInspectNo}(dailyInspectNo=${dailyInspect.daily_inspect_no})}">所有记录</button>
                                </td>
                            </tr>

                        </table>

                        <div th:replace="templates::page_info"></div>

                    </div>
                </div>
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" th:replace="templates::sidebar"></div>

</div>

<div th:replace="templates::tail_include"></div>

</body>


</html>
