<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="templates::head_include"></div>

    <style type="text/css">
        .a {
            margin-top: 20px;
        }

        .b {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            background-color: transparent;
            display: inline-block;
            padding: 4px 20px;
            color: #535ba0;
            border: 2px solid #535ba0;
            transition: all 0.5s;
            border-radius: 8px;
            margin-top: 40px;
        }

        .b :hover {
            color: #fff;
            background-color: rgba(83, 91, 160, 1);

        }

        th,
        td {
            height: 25px;
            padding: 5px 5px 5px 5px !important;
        }

        #main > .inner {
            padding: 100px 50px !important;
        }

    </style>

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a th:href="@{/security/mainController}">轻量级城镇道路养护信息管理系统</a>
                </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
                <div class="container-fluid">
                    <div align="center">
                        <h3 class="title">道路详细信息：</h3>
                        <div id="dg" style="z-index: 9999; position: fixed ! important; right: 30px; top: 700px;">
                            <table width="" 100% style="position: absolute; width:260px; right: 0px; top: 0px;">
<!--                                //table 内部控件代码-->
                                <a th:href="@{/road/list}"><button>返回</button></a>
                            </table>
                        </div>

                    <form th:action="@{/road/update}" method="post" th:object="${road}">
                        <div>
                            <table border="1" cellspacing="0">
                                <tr>
                                    <th width=129px>道路名称</th>
                                    <td width="129px"><input size="18" type="text" name="road_name" th:value="*{road_name}" placeholder="道路名称">
                                    </td>
                                    <th width=129px>设计单位</th>
                                    <td width=129px><input size="18" type="text" name="road_sjdw" th:value="*{road_sjdw}" placeholder="设计单位">
                                    </td>
                                    <th width=129px>路幅宽度范围</th>
                                    <td width=129px><input size="18" type="text" name="road_lfkdfw" th:value="*{road_lfkdfw}"
                                                           placeholder="路幅宽度范围"></td>
                                    <th width=129px>所属乡镇</th>
                                    <td width=129px><input size="18" type="text" name="road_ssxz" th:value="*{road_ssxz}" placeholder="所属乡镇">
                                    </td>
                                </tr>
                                <tr>
                                    <th width=129px>道路编号</th>
                                    <td width=129px><input size="18" type="text" name="road_id" th:value="*{road_id}" placeholder="道路编号">
                                    </td>
                                    <th width=129px>施工单位</th>
                                    <td width=129px><input size="18" type="text" name="road_sgdw" th:value="*{road_sgdw}" placeholder="施工单位">
                                    </td>
                                    <th width=129px>道路长度</th>
                                    <td width=129px><input size="18" type="text" name="road_dlcd" th:value="*{road_dlcd}" placeholder="道路长度">
                                    </td>
                                    <th width=129px>管理分类</th>
                                    <td width=129px><input size="18" type="text" name="road_glfl" th:value="*{road_glfl}" placeholder="管理分类">
                                    </td>
                                </tr>

                                <tr>
                                    <th width=129px>道路走向</th>
                                    <td width=129px><input size="18" type="text" name="road_zx" th:value="*{road_zx}" placeholder="道路走向">
                                    </td>
                                    <th width=129px>道路等级</th>
                                    <td width=129px><input size="18" type="text" name="road_dldj" th:value="*{road_dldj}" placeholder="道路等级">
                                    </td>
                                    <th width=129px>道路面积</th>
                                    <td width=129px><input size="18" type="text" name="road_dlmj" th:value="*{road_dlmj}" placeholder="道路面积">
                                    </td>
                                    <th width=129px>管理单位</th>
                                    <td width=129px><input size="18" type="text" name="road_gldw" th:value="*{road_gldw}" placeholder="管理单位">
                                    </td>
                                </tr>
                                <tr>
                                    <th width=129px>起点</th>
                                    <td width=129px><input size="18" type="text" name="road_qd" th:value="*{road_qd}" placeholder="起点"></td>
                                    <th width=129px>路面等级</th>
                                    <td width=129px><input size="18" type="text" name="road_lmdj" th:value="*{road_lmdj}" placeholder="路面等级">
                                    </td>
                                    <th width=129px>AADT</th>
                                    <td width=129px><input size="18" type="text" name="road_AADT" th:value="*{road_AADT}" placeholder="AADT">
                                    </td>
                                    <th width=129px>养护单位</th>
                                    <td width=129px><input size="18" type="text" name="road_yhdw" th:value="*{road_yhdw}" placeholder="养护单位">
                                    </td>
                                </tr>
                                <tr>
                                    <th width=129px>终点</th>
                                    <td width=129px><input size="18" type="text" name="road_zd" th:value="*{road_zd}" placeholder="终点"></td>
                                    <th width=129px>设计时速</th>
                                    <td width=129px><input size="18" type="text" name="road_sjss" th:value="*{road_sjss}" placeholder="设计时速">
                                    </td>

                                    <th width=129px>交通量等级</th>
                                    <td width=129px><input size="18" type="text" name="road_jtldj" th:value="*{road_jtldj}" placeholder="交通量等级">
                                    </td>
                                    <th width=129px>建造年月</th>

                                    <td width=129px><input size="18" type="text" name="road_jzny" th:value="*{road_jzny}" placeholder="建造年月">
                                    </td>

                                </tr>
                            </table>

                            <table border="1" cellspacing="0">
                                <tr>
                                    <th rowspan="7" width=30px>车行道</th>
                                    <th rowspan="2" width=100px>路面</th>
                                    <th width=100px>类型</th>
                                    <td width=100px><input size="18" type="text" name="lmlx_lmlx" th:value="*{lmlx_lmlx}"
                                                           placeholder="类型"></td>
                                    <th rowspan="7" width=30px>人行道</th>
                                    <th rowspan="7" width=30px>左侧</th>
                                    <th width=100px>铺面类型</th>
                                    <td width=100px><input size="18" type="text" th:value="*{getFakeData()}"
                                                           placeholder="铺面类型"></td>
                                    <th rowspan="7" width=30px>分隔带</th>
                                    <th rowspan="7" width=30px>左侧</th>
                                    <th rowspan="3" width=100px>人行护栏</th>
                                    <th width=100px>长度</th>
                                    <td width=115px><input size="18" type="text" th:value="*{getFakeData()}"
                                                           placeholder="长度"></td>
                                </tr>
                                <tr>

                                    <th width=100px>厚度</th>
                                    <td width=100px><input size="18" type="text" name="road_lmhd" th:value="*{road_lmhd}"
                                                           placeholder="厚度"></td>
                                    <th width=100px>长度</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="长度"></td>
                                    <th width=100px>高度</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="高度"></td>
                                </tr>
                                <tr>
                                    <th rowspan="2" width=100px>基层</th>
                                    <th width=100px>类型</th>
                                    <td width=100px><input size="18" type="text" name="road_jclx" th:value="*{road_jclx}"
                                                           placeholder="类型"></td>
                                    <th width=100px>宽度范围</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="宽度范围"></td>
                                    <th width=100px>类型</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th width=100px>厚度</th>
                                    <td width=100px><input size="18" type="text" name="road_jchd" th:value="*{road_jchd}"
                                                           placeholder="厚度"></td>
                                    <th width=100px>直线面积</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="直线面积"></td>
                                    <th colspan="2" width=100px>长度</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="长度"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=100px>车道数</th>
                                    <td width=100px><input size="18" type="text" name="road_cds" th:value="*{road_cds}"
                                                           placeholder="车道数"></td>
                                    <th width=100px>交叉口面积</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="交叉口面积"></td>
                                    <th colspan="2" width=100px>宽度范围</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="宽度范围"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=100px>通行方向</th>
                                    <td width=100px><input size="18" type="text" name="road_txfx" th:value="*{road_txfx}"
                                                           placeholder="通行方向"></td>
                                    <th width=100px>盲道长度</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="盲道长度"></td>
                                    <th colspan="2" width=100px>面积</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="面积"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=100px>机动车道宽度范围</th>
                                    <td width=100px><input size="18" type="text" name="road_jdcdkdfw"
                                                           th:value="*{road_jdcdkdfw}"
                                                           placeholder="机动车道宽度范围"></td>
                                    <th width=100px>无障碍通道面积</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="无障碍通道面积"></td>
                                    <th colspan="2" width=100px>类型</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                            </table>

                            <table border="1" cellspacing="0">
                                <tr>
                                    <th rowspan="8" width=30px>车行道</th>
                                    <th colspan="2" width=200px>左侧非机动车道宽度范围</th>
                                    <td width=100px><input size="18" type="text" name="road_zcfjdcdkdfw"
                                                           th:value="*{road_zcfjdcdkdfw}"
                                                           placeholder="左侧非机动车道宽度范围"></td>
                                    <th rowspan="13" width=30px>人行道</th>
                                    <th rowspan="3" width=30px>左侧</th>
                                    <th width=100px>绿化带面积</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th rowspan="13" width=30px>分隔带</th>
                                    <th rowspan="6" width=30px>中央</th>
                                    <th rowspan="2" width=100px>护栏</th>
                                    <th width=100px>高度</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=200px>右侧非机动车道宽度范围</th>
                                    <td width=100px><input size="18" type="text" name="road_ycfjdcdkdfw"
                                                           th:value="*{road_ycfjdcdkdfw}"
                                                           placeholder="右侧非机动车道宽度范围"></td>
                                    <th width=100px>侧石类型</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th width=100px>高度</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=200px>车行道面积</th>
                                    <td width=100px><input size="18" type="text" name="road_cxdmj" th:value="*{road_cxdmj}"
                                                           placeholder="车行道面积"></td>
                                    <th width=100px>平石类型</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th colspan="2" width=200px>长度</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=200px>有无公交车专用道</th>
                                    <td width=100px><input size="18" type="text" name="road_ywgjczyd"
                                                           th:value="*{road_ywgjczyd}"
                                                           placeholder="有无公交车专用道"></td>
                                    <th rowspan="10" width=30px>右侧</th>
                                    <th width=100px>铺面类型</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th colspan="2" width=200px>宽度范围</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th rowspan="2" width=100px>侧石</th>
                                    <th width=100px>类型</th>
                                    <td width=100px><input size="18" type="text" name="road_cslx" th:value="*{road_cslx}"
                                                           placeholder="侧石类型"></td>
                                    <th width=100px>长度</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th colspan="2" width=200px>面积</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th width=100px>长度</th>
                                    <td width=100px><input size="18" type="text" name="road_cscd" th:value="*{road_cscd}"
                                                           placeholder="侧石长度"></td>
                                    <th width=100px>宽度范围</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th colspan="2" width=200px>类型</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th rowspan="2" width=100px>平石</th>
                                    <th width=100px>类型</th>
                                    <td width=100px><input size="18" type="text" name="road_pslx" th:value="*{road_pslx}"
                                                           placeholder="平石类型"></td>
                                    <th width=100px>直线面积</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th rowspan="7" width=30px>人行道</th>
                                    <th rowspan="3" width=100px>人行护栏</th>
                                    <th width=100px>长度</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th width=100px>长度</th>
                                    <td width=100px><input size="18" type="text" name="road_pscd" th:value="*{road_pscd}"
                                                           placeholder="平石长度"></td>
                                    <th width=100px>交叉口面积</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th width=100px>高度</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th rowspan="6" width=30px>附属设施</th>
                                    <th colspan="2" width=200px>检查井数量</th>
                                    <td width=100px><input size="18" type="text" name="road_jcjsl" th:value="*{road_jcjsl}"
                                                           placeholder="检查井数量"></td>
                                    <th width=100px>盲道长度</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th width=100px>类型</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=200px>雨水口井数量</th>
                                    <td width=100px><input size="18" type="text" name="road_ysksl" th:value="*{road_ysksl}"
                                                           placeholder="雨水口井数量"></td>
                                    <th width=100px>无障碍通道面积</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th colspan="2" width=200px>长度</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=200px>路名牌数量</th>
                                    <td width=100px><input size="18" type="text" name="road_lmpsl" th:value="*{road_lmpsl}"
                                                           placeholder="路名牌数量"></td>
                                    <th width=100px>绿化带面积</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th colspan="2" width=200px>宽度范围</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=200px>标志牌数量</th>
                                    <td width=100px><input size="18" type="text" name="road_bzpsl" th:value="*{road_bzpsl}"
                                                           placeholder="标志牌数量"></td>
                                    <th width=100px>侧石类型</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th colspan="2" width=200px>面积</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=200px>树池面积</th>
                                    <td width=100px><input size="18" type="text" name="road_scmj" th:value="*{road_scmj}"
                                                           placeholder="树池面积"></td>
                                    <th width=100px>平石类型</th>
                                    <td width=100px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                    <th colspan="2" width=200px>类型</th>
                                    <td width=115px><input size="18" type="text" name="getFakeData()" th:value="*{getFakeData()}"
                                                           placeholder="类型"></td>
                                </tr>
                                <tr>
                                    <th colspan="2" width=200px>其他</th>
                                    <td colspan="11" width=615px><input size="18" type="text" name="road_qt"
                                                                        th:value="*{road_qt}"
                                                                        placeholder="其他"></td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <button class="b" type="submit">确定修改</button>
                        </div>
                    </form>
                </div>
                </div>
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" th:replace="templates::sidebar"></div>

</div>

<div th:replace="templates::tail_include"></div></body>

</html>
