<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="templates::head_include"></div>

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a th:href="@{/security/mainController}">轻量级城镇道路养护信息管理系统</a>
                </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
                <div class="container-fluid">
                    <div align="center">
                        <h3 class="title">用户管理</h3>

                        <form action="" method="get">
                            <input type="hidden" name="_method" value="DELETE"/>
                        </form>

                        <table border="0" cellspacing="0">
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                            <tr class="user" th:each="user : ${page.list}">
                                <td th:text="${user.userNo}" nowrap></td>
                                <td id="userName" th:text="${user.userName}" nowrap></td>
                                <td nowrap>
                                    <button class="update" th:href="@{/user/preUpdate/{userNo}(userNo=${user.userNo})}">
                                        修改
                                    </button>
                                    <button class="delete" th:href="@{/user/remove/{userNo}(userNo=${user.userNo})}">删除
                                    </button>
                                </td>
                            </tr>

                        </table>

                        <div th:replace="templates::page_info"></div>

                    </div>
                </div>
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" th:replace="templates::sidebar"></div>

</div>

<div th:replace="templates::tail_include"></div>

</body>


</html>
