<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="templates::head_include"></div>

    <style type="text/css">
        .a {
            margin-top: 20px;
        }

        .b {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            background-color: transparent;
            display: inline-block;
            padding: 4px 20px;
            color: #535ba0;
            border: 2px solid #535ba0;
            transition: all 0.5s;
            border-radius: 8px;
            margin-top: 40px;
        }

        .b :hover {
            color: #fff;
            background-color: rgba(83, 91, 160, 1);

        }

        th,
        td {
            height: 25px;
            padding: 5px 5px 5px 5px !important;
        }

        #main > .inner {
            padding: 100px 50px !important;
        }

    </style>

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a th:href="@{/security/mainController}">轻量级城镇道路养护信息管理系统</a>
                </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
                <div class="container-fluid">
                    <div align="center">
                        <h3 class="title">定期损坏巡查信息详细信息：</h3>
                        <div id="dg" style="z-index: 9999; position: fixed ! important; right: 30px; top: 700px;">
                            <table width="" 100% style="position: absolute; width:260px; right: 0px; top: 0px;">
                                <!--                                //table 内部控件代码-->
                                <a th:href="@{/regularDamage/list}">
                                    <button>返回</button>
                                </a>
                            </table>
                        </div>
                        <form th:action="@{/regularDamage/update}" method="post" th:object="${regularDamage}">
                            <div>
                                <table border="1" cellspacing="0">
                                    <tr>
                                        <th>损坏巡查编号</th>
                                        <th>日期</th>
                                        <th>道路名称</th>
                                        <th>巡查人员</th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="damage_no"
                                                   th:value="*{damage_no}"
                                                   placeholder="损坏巡查编号"></td>
                                        <td><input type="date" name="damage_date"
                                                   th:value="*{damage_date}" placeholder="日期"></td>

                                        <td><select name="road_name">
                                            <option th:text="*{road_name}">=请选择=</option>
                                            <option th:each="list:${roadNameList}" th:value="${list.road_name}"
                                                    th:text="${list.road_name}"></option>
                                        </select></td>
                                        <td><select name="inspector_name">
                                            <option th:text="*{inspector_name}">=请选择=</option>
                                            <option th:each="list:${userNameList}" th:value="${list.userName}"
                                                    th:text="${list.userName}"></option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <th>起止位置</th>
                                        <th>检查总长</th>
                                        <th>检查总宽</th>
                                        <th>损坏类型</th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="damage_start"
                                                   th:value="*{damage_start}"
                                                   placeholder="起止位置"></td>
                                        <td><input type="text" name="damage_all_longth"
                                                   th:value="*{damage_all_longth}"
                                                   placeholder="检查总长"></td>
                                        <td><input type="text" name="damage_all_width"
                                                   th:value="*{damage_all_width}"
                                                   placeholder="检查总宽"></td>
                                        <td width=100px><select name="damage_type">
                                            <option th:text="*{damage_type}">=请选择=</option>
                                            <option th:each="list:${damageTypeList}" th:value="${list.damage_name}"
                                                    th:text="${list.damage_name}"></option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <th>损坏长</th>
                                        <th>损坏宽</th>
                                        <th>损坏高</th>
                                        <th>损坏面积</th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="damage_longth"
                                                   th:value="*{damage_longth}"
                                                   placeholder="损坏长"></td>
                                        <td><input type="text" name="damage_width"
                                                   th:value="*{damage_width}"
                                                   placeholder="损坏宽"></td>
                                        <td><input type="text" name="damage_height"
                                                   th:value="*{damage_height}"
                                                   placeholder="损坏高"></td>
                                        <td><input type="text" name="damage_area"
                                                   th:value="*{damage_area}"
                                                   placeholder="损坏面积"></td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">损坏描述</th>
                                        <th colspan="2">备注</th>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><input type="text"
                                                               name="damage_desc"
                                                               th:value="*{damage_desc}"
                                                               placeholder="备注"></td>
                                        <td colspan="2"><input type="text"
                                                               name="damage_ps"
                                                               th:value="*{damage_ps}"
                                                               placeholder="备注"></td>
                                    </tr>
                                </table>
                                <div>
                                    <button class="b" type="submit">确定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" th:replace="templates::sidebar"></div>

</div>

<div th:replace="templates::tail_include"></div>

</body>


</html>
