<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="templates::head_include"></div>

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a th:href="@{/security/mainController}">轻量级城镇道路养护信息管理系统</a>
                </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="banner-caption">
                                            <h4>欢迎访问<em>城镇道路养护信息</em>管理系统。</h4>
                                            <span>适用于竣工 &amp; 验收后交付使用的城镇道路</span>
                                            <p>城镇道路的养护应包括道路设施的检查评价、养护工程和技术档案管理；根据各类道路在城镇中的<strong>重要性</strong>，将城镇道路分为下列三个养护等级：</p>
                                            <div class="primary-button">
                                                <a href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

        <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
                <form method="get" action="#">
                    <input type="text" name="search" id="search" placeholder="Search..."/>
                </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <ul>
                    <li><a th:href="@{/security/mainController}">主页</a></li>
                    <!--用户-->
                    <li>
                        <span class="opener">用户</span>
                        <ul>
                            <li><a th:href="@{/user/toInput}">新增用户 #1</a></li>
                            <li><a th:href="@{/user/list}">用户管理 #2</a></li>
                        </ul>
                    </li>
                    <!--道路-->
                    <li>
                        <span class="opener">道路</span>
                        <ul>
                            <li><a th:href="@{/road/toInput}">新增道路 #1</a></li>
                            <li><a th:href="@{/road/list}">道路管理 #2</a></li>
                        </ul>
                    </li>
                    <!--日常巡查-->
                    <li>
                        <span class="opener">日常巡查</span>
                        <ul>
                            <li><a th:href="@{/dailyInspect/toInput}">新增日常巡查 #1</a></li>
                            <li><a th:href="@{/dailyInspect/list}">日常巡查管理 #2</a></li>
                        </ul>
                    </li>
                    <!--定期巡查-->
                    <li>
                        <span class="opener">定期巡查</span>
                        <ul>
                            <li><a th:href="@{/regularSmooth/toInput}">新增定期平整巡查 #1</a></li>
                            <li><a th:href="@{/regularSmooth/list}">定期平整巡查管理 #2</a></li>
                            <li><a th:href="@{/regularDamage/toInput}">新增定期损坏巡查 #3</a></li>
                            <li><a th:href="@{/regularDamage/list}">定期损坏巡查管理 #4</a></li>
                        </ul>
                    </li>
                    <!--技术状况评价-->
                    <li><a th:href="@{/regularDamage/listEval}">技术状况评价</a></li>
                    <li><a href="#">External Link</a></li>
                </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">Copyright &copy; 2019 Company Name
                    <br>Designed by CQJTU <a href="http://www.cqjtu.edu.cn/" target="_blank"
                                             title="重庆交通大学">重庆交通大学</a></p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/transition.js}"></script>
<script th:src="@{/assets/js/owl-carousel.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>
</body>


</html>
