<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>记账小程序</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/templatemo-style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.css}">
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/assets/js/browser.min.js}"></script>
    <script th:src="@{/assets/js/breakpoints.min.js}"></script>
    <script th:src="@{/assets/js/transition.js}"></script>
    <script th:src="@{/assets/js/owl-carousel.js}"></script>
    <script th:src="@{/assets/js/custom.js}"></script>

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a href="index.html">记账小程序</a>
                </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="banner-caption">
                                            <h4>你好, 欢迎使用<em>记账小程序。</em></h4>
                                            <span>AWESOME HTML5 &amp; CSS3 TEMPLATE</span>
                                            <p>是不是长期处于<strong>月光状态</strong>呢？
                                                是不是每个月到手的钱不少却总是感觉<strong>缺钱</strong>呢？
                                                是不是总不知钱花到哪里去了呢？尝试开始<strong>记账</strong>吧！</p>
                                            <div class="primary-button">
                                                <a href="add.html">尝试记账</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Right Image -->
            <section class="right-image">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-content">
                                <h4>为什么要记账？</h4>
                                <p>约束乱消费行为：如果你平时花钱大手大脚，有记账行为的时候，心理更容易产生负罪感，潜意识里会自觉适当约束自己大额的开支。
                                    <br><br>
                                    管理消费体系：记账三五个月后，就可以从数据中整理分析出自己的消费体系了，哪些方面开销巨大可以缩减也一目了然。
                                    <br><br>
                                    培养个人意志：记账本身是一个繁琐而枯燥的过程，如果能够坚持下来，本身也是一个磨炼意志，提高自身耐心和细致度的挑战。
                                </p>
                                <div class="primary-button">
                                    <a href="add.html">尝试记账</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img th:src="@{/assets/images/right-image.jpg}" alt="">
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <!--    <div id="sidebar">

            <div class="inner">

                &lt;!&ndash; Search Box &ndash;&gt;
                <section id="search" class="alt">
                    <form method="get" action="AccountServlet?method=search">
                        <input type="text" name="search" id="search" placeholder="Search..."/>
                    </form>
                </section>

                &lt;!&ndash; Menu &ndash;&gt;
                <nav id="menu">
                    <ul>
                        <li><a href="main.html">Homepage</a></li>
                        <li><a th:href="@{/security/mainController}">Homepage</a></li>
                        <li><a th:href="@{/user/toInput}">新增用户</a></li>
                        <li><a th:href="@{/user/list}">用户管理</a></li>
                        <a th:href="@{/road/toInput}">新增道路</a>
                        <a th:href="@{/road/list}">道路管理</a>
                        <li><a th:href="@{/courseType/toInput}">新增课程类型</a></li>
                        <li><a th:href="@{/courseType/list}">课程类型管理</a></li>
                        <li><a th:href="@{/course/toInput}">实验室排课申请</a></li>
                        <li><a th:href="@{/course/list}">实验室排课管理</a></li>
                    </ul>
                </nav>


                &lt;!&ndash; Footer &ndash;&gt;
                <footer id="footer">
                    <p class="copyright">Copyright &copy; 2019
                </footer>

            </div>
            <a href="#sidebar" class="toggle"></a>
        </div>-->
    <div id="sidebar" class="inactive">

        <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
                <form method="get" action="#">
                    <input type="text" name="search" id="search" placeholder="Search...">
                </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <ul>
                    <li><a href="index.html">Homepage</a></li>
                    <li><a href="simple_page.html">Simple Page</a></li>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li>
                        <span class="opener">Dropdown One</span>
                        <ul>
                            <li><a href="#">First Sub Menu</a></li>
                            <li><a href="#">Second Sub Menu</a></li>
                            <li><a href="#">Third Sub Menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Dropdown Two</span>
                        <ul>
                            <li><a href="#">Sub Menu #1</a></li>
                            <li><a href="#">Sub Menu #2</a></li>
                            <li><a href="#">Sub Menu #3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">External Link</a></li>
                </ul>
            </nav>

            <!-- Featured Posts -->
            <div class="featured-posts">
                <div class="heading">
                    <h2>Featured Posts</h2>
                </div>
                <div class="owl-carousel owl-theme owl-loaded owl-drag">


                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(-670px, 0px, 0px); transition: all 0s ease 0s; width: 2345px;">
                            <div class="owl-item cloned" style="width: 305px; margin-right: 30px;"><a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured two">
                                    <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                                </div>
                            </a></div>
                            <div class="owl-item cloned" style="width: 305px; margin-right: 30px;"><a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured three">
                                    <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                                </div>
                            </a></div>
                            <div class="owl-item active" style="width: 305px; margin-right: 30px;"><a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured one">
                                    <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
                                </div>
                            </a></div>
                            <div class="owl-item" style="width: 305px; margin-right: 30px;"><a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured two">
                                    <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                                </div>
                            </a></div>
                            <div class="owl-item" style="width: 305px; margin-right: 30px;"><a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured three">
                                    <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                                </div>
                            </a></div>
                            <div class="owl-item cloned" style="width: 305px; margin-right: 30px;"><a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured one">
                                    <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
                                </div>
                            </a></div>
                            <div class="owl-item cloned" style="width: 305px; margin-right: 30px;"><a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured two">
                                    <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                                </div>
                            </a></div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span>
                        </button>
                        <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span>
                        </button>
                    </div>
                    <div class="owl-dots">
                        <button role="button" class="owl-dot active"><span></span></button>
                        <button role="button" class="owl-dot"><span></span></button>
                        <button role="button" class="owl-dot"><span></span></button>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">Copyright © 2019 Company Name
                    <br>Designed by Template Mo / More Templates <a href="http://www.cssmoban.com/" target="_blank"
                                                                    title="模板之家">模板之家</a> - Collect from <a
                            href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </footer>

        </div>
        <a href="#sidebar" class="toggle">Toggle</a></div>

</div>


</body>



</html>